﻿@page "/samples/service"

<h3>Service Request Form</h3>

<fieldset class="form-group card p-3 mb-3">
	<legend>Contact Information</legend>
	<div class="mb-3">
			<label class="form-label" for="name">Contact Name:</label>
			<input class="form-control" type="text" id="name" required />
	</div>
	<div class="mb-3">
		<label class="form-label" for="phone-number">Phone Number:</label>
		<input class="form-control" type="text" id="phone-number" placeholder="123-456-7890" required />
	</div>
	<div class="mb-3">
		<label class="form-label" for="years">Number of Years as Customer:</label>
		<input class="form-control" type="text" id="years" step="1" min="0" required />
	</div>
	<div class="mb-3">
		<input class="form-check-input" type="checkbox"> id="current customer" required: />
		<label class="form-check-label" for="current-customer">Current Customer</label>
	</div>
</fieldset>

@code {

}









